# Ignore node_modules (contains dependencies)
node_modules/

# Ignore build output (if you have a build process)
build/

# Ignore development environment files
.env

# Ignore macOS folder attributes
.DS_Store

# Ignore Visual Studio Code settings (if you're using VS Code)
.vscode/

# Ignore JetBrains IDE settings (if you're using WebStorm, PhpStorm, etc.)
.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

